body,html {
    margin: 0 5px;
    font-family: Verdana,sans-serif;
}
h1 {
    font-size: 1.4em;
    color: #008000;
}
a {
    color: #008000;
}

#header {
	background-color: #EEEEEE;
	height: 30px;
}

#header-logo { float: left; }

#header-navigation { float: right; }

/* Table */
th {
    text-align: left;
}
td, th {
    padding-right: 5px;
}

/* style form */
form {
	overflow: hidden;
	/*visibility: hidden;*/
}
form#user-name-ajax-edit input{
	display: none;
}
form dl {
	margin: 0;
	padding: 0;
}
form dt {
    width: 100px;
    display: block;
    float: left;
    clear: left;
}
form dd {
    margin-left: 0;
    float: left;
}
form #submitbutton {
    margin-left: 100px;
}
table img{
	max-height: 100px;
	max-width: 100px;
}
.description {
	display: none;
}